
.Target-Container{
    background: white;
    width: 80%;
    margin-left: 37px;
    height: 85%;
    border-radius: 10px;
}

.tiitle-p{
    font-weight: bold;
    text-align: CENTER;
    background-color: black;
    color: white;
}

.btn-informacion{
    width: 53%;
    text-align: center;
    background-color: transparent;
    color:  #800000;
    border: 3px solid  #800000;
    font-size: 17px;
    border-radius: 6px;
    padding: 0.5%;
    margin-left: -2%;
    position: relative;
    top: 7px;
    left: 45px;
}