
.card{
    width: 88%;
    margin-left: 2%;
    height: 290px;
    text-align: center;
   
}

.card:hover{
    background-color: #800000;
}

.roma{
    position: relative;
    top: 20%;
    margin-top: 10px;
    color: wheat;
    font-weight: bold;
}

.accent-color{
    width: 85%;
    background-color: white;
}

.Accent-todo{
    flex-wrap: wrap;
    display: flex;
    overflow-y: scroll;
    height: 167px;
}
.btn-comprar{
    width: 35%;
    text-align: center;
    background-color: transparent;
    color:  #800000;
    border: 3px solid  #800000;
    font-size: 17px;
    border-radius: 6px;
    padding: 0.5%;
    margin-left: -2%;
    position: relative;
    top: 20px;
    left: 45px;
}

.Informacion{
    color: white;
    width: 55%;
    position: relative;
    top: -353px;   
}

.Imagesinfo{
    background-image: url(/resp-3.jpg);
    height: 360px;
    background-repeat: no-repeat;
}

.solid{
    width: 55%;
    background: black;
    height: 360px;
    position: relative;
    opacity: 0.6;
}


.Compras{
    position: relative; 
    background-color: white;
    border-radius: 10px;
    text-align: center;
    top: 8px;
}

.titulo_pel{
    width: 30%;
    position: relative;
    left: 38%;
    font-size: 22px;
    font-weight: bold;
}

@media screen and (max-width: 504px ){
    .Compras{
        top: 86px;
    }
}

@media screen and (max-width: 586px ){
    .btn-comprar{
        left: 21px;
        top: 6px;
    }

    .Informacion{
        width: 100%;
    }

    .solid{
        width: 100%;
    }

    .titulo_pel{
        width: 67%;
        text-align: center;
        left: 15%;
    }


}

@media screen and (max-width: 499px ){
    .btn-comprar{
        left: 0px;
        top: 6px;
    }
}

@media screen and (max-width: 400px ){
    .Compras{
        height: 141px;
    }
}

@media screen and (max-width: 504px ){
    .Compras{
        width: 109%;
        left: -16px;
        border-radius: 0px 0px 10px 10px;
    }
}

@media screen and (max-width: 400px ){
    .Compras{
        width: 111.2%;
    }

    


}

@media screen and (max-width: 378px ){
    .Compras{
        width: 114.2%;
        
    }

    

}