
.Modal1{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
   
}

.Modal_container1{
    position: relative;
    top: 2rem;
    background-color: black;
    padding: 1em;
    width: 81%;
    color: white;
    border-radius: 40px;
   
}

.Modal_close-button1{
    position: absolute;
    top: 6px;
    right: 15px;
    border: 0px;
    color: black;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 9px;
}

.Modal_close-button1:hover{
    background-color: #800000;
}

.tittle1{
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: bold;
}

@media screen and (max-width: 440px ){
    .Modal_close-button1{
        padding: 0;
        top:50px;
    }
}

@media screen and (max-width: 504px ){
    .Modal_container1{
        border-radius: 0px;
        height: 500px;
        overflow-y: scroll;
    }
}