
.Modal144{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
   
}

.Modal_container144{
    position: relative;
    top: 0.5rem;
    background-color: black;
    padding: 1em;
    width: 295px;
    color: white;
    border-radius: 40px;
    height: 9%;
}

.Modal_close-button144{
    position: absolute;
    top: 10px;
    right: 15px;
    border: 0px;
    color: black;
    padding: 0;
    font-weight: bold;
    border-radius: 9px;
    
}

.Modal_close-button144:hover{
    background-color: #800000;
}

.tittle144{
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: bold;
}

@media screen and (max-width: 440px ){
    .Modal_close-button144{
        padding: 0;
        top: 10px;
    }
}

@media screen and (max-width: 504px ){
    .Modal_container144{
        border-radius: 0px;
        height: 500px;
        overflow-y: scroll;
    }
}