.Modal22{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.Modal_container22{
    position: relative;
    top: 9rem;
    background-color: white;
    padding: 1em;
    width: 40%;
    color: black;
    border-radius: 10px;
    height: 24%;
    
}

.Modal_close-button22{
    position: relative;
    top: 20px;
    left: 35%;
    border: 0px;
    color: black;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 9px;
}

.Modal_close-button22:hover{
    background-color: #800000;
}

.tittle22{
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 783px ){
    .Modal_container22{
        width: 60%;
    }

  }

  @media screen and (max-width: 521px ){
    
    .Modal_close-button22{
        top: 1px;
        left: 32%;
    }
  }

  @media screen and (max-width: 356px ){
    
    .tittle22{
        font-size: 14px;
    }

    .Modal_close-button22{
        left: 25%;
    }
  }