
.Modal7{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.Modal_buy-button7{
    position: relative;
    top: 10px;
    left: 4%;
    border: 0px;
    color: black;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 9px;
}

.Modal_buy-button7:hover{
    background-color: #800000;
}

.Modal_container7{
    position: relative;
    top: 2rem;
    background-color: white;
    padding: 1em;
    width: 90%;
    color: black;
    border-radius: 10px;
    height: 90%;
    overflow-y: scroll;
    background-image: url(/resp.jpg);
    color: white;
}

.Modal_close-button7{
    position: relative;
    top: 10px;
    left: 12%;
    border: 0px;
    color: black;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 9px;
}

.Modal_close-button7:hover{
    background-color: #800000;
}

.tittle7{
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: bold;
    text-align: center;
}