
.contenedor1{
    width: 250px;
    margin-left: 4%;
    height: 300px;
    margin-top: 3%;
    display: inline-block;
}

.paris{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.all{
    overflow-x: hidden;
}

.todos{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden; 
    height: 100vh;
    background-image: url(/font-4.jpg);
    
}

.navigator-bar{
     background-color: #800000;
     height: 56px;
     width: 100%;
}

.title{
    position: relative;
    left: 15%;
    width: 100px;
    font-weight: bold;
    top: 8px;
    font-size: 22px;
    color: white;
}

.title2{
    position: relative;
    top: -96px;
    width: 206px;
    font-size: 21px;
    color: white;
    font-weight: bold;
    left: 70%;
}

.title:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}

.title2:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}

.Piker-time{
    background-color: white;
    position: relative;
    top: -49px;
    left: 40%;
    border-radius: 12px;
    width: 170px;
}

@media screen and (max-width: 767px ){
    .contenedor1{
        margin-left: 35%;
    }
}

@media screen and (max-width: 669px ){
    .navigator-bar{
        height: 140px;
    }

    .contenedor1{
        margin-left: 27%;
    }

    .title2{
        top: -44px;
        left: 32%;
    }

    .title{
        left: 40%;
        top: 95px;
        
    }
    .Piker-time{
        width: 165px;
        left: 34%;
    }


  }

  @media screen and (max-width: 420px ){
    .Piker-time{
        left: 24%;
    }
    .title2{
        left: 19%;
    }
    .title{
        left: 34%;
    }
    .contenedor1{
        margin-left: 15%;
    }

  }