
.contenedor17{
    width: 255px;
    height: 170px;
    margin-top: 3%;
    display: inline-block;
}

.paris77{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.todos77{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden; 
    height: 100vh;
    background-image: url(/font-4.jpg);
    
}

.navigator-bar77{
     background-color: #800000;
     height: 56px;
     width: 100%;
}

.title77{
    position: relative;
    left: 10%;
    width: 100px;
    font-weight: bold;
    top: 8px;
    font-size: 22px;
    color: white;
}

.title277{
    position: relative;
    top: -24px;
    width: 206px;
    font-size: 21px;
    color: white;
    font-weight: bold;
    left: 65%;
}

.title77:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}

.title277:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}


@media screen and (max-width: 600px ){
    .navigator-bar77{
        height: 75px;
    }

    .title277{
        top: -33px;
        left: 32%;
    }

    .title77{
        left: 40%;
        top: 33px;
        
    }
    
  }

  @media screen and (max-width: 420px ){
    .title277{
        left: 19%;
    }
    .title77{
        left: 31%;
    }
    .contenedor17{
        margin-left: 5%;
    }

  }