
.accent-n{
    font-size: 17px;
    font-weight: bold;
}

.btn-seleccion{
    
    width: 35%;
    text-align: center;
    background-color: transparent;
    color:  white;
    border: 3px solid  white;
    font-size: 17px;
    border-radius: 6px;
    padding: 0.5%;
    margin-left: -2%;
    position: relative;
    left: -2.5px;
}

.btn-cancelar{
    width: 35%;
    text-align: center;
    background-color: transparent;
    color:  white;
    border: 3px solid  white;
    font-size: 17px;
    border-radius: 6px;
    padding: 0.5%;
    margin-left: -2%;
    position: relative;
    left: 2.5px;
}

.conteiner-accent{
    width: 80px;
    background: #800000;
    text-align: center;
    border-radius: 12px;
    margin: 5px;
}